@font-face {
  font-family: 'zag-regular';
  src: url(./assets/fonts/Zag-Regular.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'zag-bold';
  src: url(./assets/fonts/Zag-Bold.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shadows-into-light-two';
  src: url(./assets/fonts/ShadowsIntoLightTwo-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'zag-regular', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh; 
}